body {
    font-family: sans-serif;
    margin: 0%;
    background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }




header{
    display: flex;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    
    img{
        border-radius: 50%;
      }
      .logo{
        display: flex;
        align-items: left;

        img{
            height: 20vh;
            margin-right: 20vh;
        }
    }
    .Amortentia{
        height: 10vh;
        width: 10vw;
        padding-top: 10px;
        color:rgb(247, 89, 194);
        justify-content: center;
        text-align: center;
        font-family:'Source Code Pro', monoespaciado;
      }
      li {
    
        list-style: none;
        padding: 10px;
        padding-bottom: 25px;
        float: left;
        text-align: center;
        justify-content: center;
      }
      nav{
        a {
            font-size: large;
            font-weight: 200px;
            padding-right: 10px;
            float: right;
            color:rgb(247, 89, 194);
            font-family: fantasy;
            
          }

      } 
      
}

header 

a{
    text-decoration: none;
}
  
  
  nav a:hover {
    color: rgb(76, 0, 99);
  }


  /*FIN HEADER*/

  .descubre{
    display: flex;
    justify-content: center;
    align-items: center;
   

  } 

  .info_final{
    display: flex;
    justify-content: center;
    align-items: center;
    

    .formulario{
        height: auto;
        width: 250px;
        padding-left: 50px;
        margin: 150px;
      }

      .imagen{
        .woow{
          border-radius: 7%;
            width: 500px;
            height: auto;
          
            margin: 100px;
          }
    
    }

    .tabla{
        .requisitos{
            height: auto;
            width: 20vw;
            border-radius: 30px;
           
          }
    
    }
  }
  
  
  
  


 


 




.parrafo{
    display: flex;
    text-align: center;
    justify-content: center;
  font-size: 25px;
}






/*INICIO FOOTER*/
   
.pie{
    margin-top: 300px;
  
    .header{
      display: flex;
      justify-content: center;
      align-items: center;
  
      .logoo{
        position: absolute;
     
        img{
          border-radius: 60%;
        }
       }
    }
  
    .section{
      padding-top: 300px;
       display: flex;
       justify-content: space-evenly;
       gap: 40px;
       align-items: center;
  
  
       div{
        display: flex;
        flex-direction: column;
  
        h2{
          color: black;
        }
      
      }
  
      a{
        color: rgb(247, 89, 194);
        padding: 5px;
        font-family: fantasy;
      }
     }
  
     .derechos{
      display: flex;
      
      justify-content: space-between;
      padding: 10px;
      background-color: rgb(218, 217, 217);
    }
   
   }
  
  
   
   
   .red{
    padding-left: 1000px;
    
   }
   
  
   .red img{
    width: 80%;
    height: 80px;
   }



   @media only screen and (max-width:1569px) {

      .menu-responsive{
      display: block;
    }
  
    .img-header{
      display: none;
    }
    .h1-header{
      display: none;
    }
    .nav{
      display: none;
    }


    .info_final{
      
     flex-direction: column;
      

      .formulario{
        height: auto;
        width: 250px;
        width: 0px;
        padding-left: 0px;
        margin: 0px;
      
      }

      .imagen{
        .woow{
          border-radius: 7%;
            width: 500px;
            height: auto;
          
          }
    
    }

    .tabla{
        .requisitos{
            height: auto;
            width: 300px;
            border-radius: 30px;
         
          }
        }
    
    }

      






   }




   @media only screen and (max-width:1569px){
    .info_final{
      justify-content: center;
      text-align: center;
      .formulario{
        width: 30vw;
      }
      .imagen{
        .woow{
          width: 50vw;
        }
      }
    }
   }



   @media screen and (max-width:556px){

    body{
      width: 100vw;
    }
  
   
  
  
    
    .info_final{
      justify-content: center;
      text-align: center;

      .fieldset{
        justify-content: center;
        text-align: center;
        width: 10vw;

        .formulario{
          width: 30vw;
        }

        label{
          margin: 10px;
        }

      }
      
      
      .imagen{
        .woow{
          width: 40vw;
        }
      }
    }
  
  .parrafo{
    p{
      font-size: 20px;
    }
  }
  
  
  /*INICIO FOOTER*/
  footer{
  
  
  .header{
    .logoo{
      img{
        width: 20vh;
        height: 20vh;
      }
    }
    .red{
      img{
        display: none;
      }
    }
  
  }
  
  .section{
    h2{display: none;}
    a{display: none;}
  }
  
  .derechos{
  p{
    display: none;
  }
  }
  
  
  
  
  
  
  
  }

   }

  
  